.list {
  text-align: left;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 34px;
  background-color: rgba(255, 188, 255, 0.7);

  border: 3px solid var(--dr-color);
  box-shadow: 10px 10px 8px 2px var(--shadow-color);
  border-radius: 10px;
}
.item:not(:last-child) {
  margin-bottom: 30px;
}

.text {
  width: 200px;
}
.button {
  font-size: 24px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 120px;

  background-color: mediumpurple;
}
.button:not(:last-child) {
  margin-bottom: 30px;
}
.button:hover,
.button:focus {
  transform: scale(1.15);
  background-color: var(--dr-color);
  color: var(--dr-text-color);
  box-shadow: 10px 10px 8px 2px var(--shadow-color);
}
